In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
hamoye=pd.read_csv("StageA_data.csv")

In [4]:
hamoye.head(5)

,Unnamed: 0,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [6]:
hamoye.isnull().sum()

Unnamed: 0                        0
record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

# question three

In [9]:
hamoye[["fuel_type_code_pudl","fuel_qty_burned"]].groupby("fuel_type_code_pudl").mean()

                     fuel_qty_burned
fuel_type_code_pudl
coal                    1.903473e+06
gas                     4.843183e+06
nuclear                 5.454838e+06
oil                     6.311677e+04
other                   2.948137e+06
waste                   1.171914e+05

# Question one

In [11]:
A = [1,2,3,4,5,6]

In [12]:
B = [13, 21, 34]

In [18]:
A.extend(B)

In [19]:
A

[1, 2, 3, 4, 5, 6, [13, 21, 34], 13, 21, 34]

In [21]:
A.append(B)

In [22]:
A

[1, 2, 3, 4, 5, 6, [13, 21, 34], 13, 21, 34, [13, 21, 34]]

In [ ]:
# Question Four

In [23]:
hamoye.describe()

,Unnamed: 0,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,14761.000000,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,8522.700335,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,0.000000,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,7380.500000,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,14761.000000,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,22141.500000,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,29522.000000,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

# Question Five

In [35]:
a=hamoye["fuel_qty_burned"]

In [37]:
a.skew()

15.851495469109503

In [38]:
a.kurtosis()

651.3694501337732

In [25]:
hamoye.isnull().sum()

Unnamed: 0                        0
record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [59]:
hamoye["fuel_unit"].count().sum()/180*100

16301.666666666668

In [ ]:
180

In [29]:
hamoye["fuel_unit"].fillna(value="mcf")

0        ton
1        ton
2        ton
3        ton
4        mcf
        ...
29518    mcf
29519    mcf
29520    mcf
29521    ton
29522    mcf
Name: fuel_unit, Length: 29523, dtype: object

# Question Eight

In [39]:
d=hamoye["fuel_qty_burned"]

In [40]:
e=hamoye["fuel_mmbtu_per_unit"]

In [41]:
f=hamoye["fuel_cost_per_unit_burned"]

In [42]:
g=hamoye["fuel_cost_per_unit_delivered"]

In [43]:
h=hamoye["fuel_cost_per_mmbtu"]

In [55]:
f.corr(d)

-0.018535416794825232

In [54]:
f.corr(e)

-0.010033808428853076

In [53]:
f.corr(g)

0.011007403299165119

In [52]:
f.corr(h)

-0.00043721044397039967

# Question Nine

In [ ]:
hamoye[["report_year","fuel_cost_per_unit_burned"]]

# Question Ten

In [34]:
hamoye[["report_year","fuel_cost_per_unit_delivered"]].groupby("report_year").mean().sort_values("fuel_cost_per_unit_delivered",ascending=False)

             fuel_cost_per_unit_delivered
report_year
1997                         11140.197239
1996                          9196.705948
2000                           985.362877
2009                           652.694163
2018                           499.269966
2015                           326.535511
1998                           287.154420
2014                           192.737183
2013                           172.307591
2004                           139.524275
2016                           103.901761
2010                            91.862105
1994                            63.636060
2012                            60.994502
2001                            60.050396
2011                            59.774667
2008                            58.588197
2003                            55.663493
2002                            47.594361
2017                            46.196861
2007                            43.325023
2005                            41.438184
2006                            38.657484
1995                            32.735269
1999                            25.551627